<h1>New participant</h1>

<% form_for(@participant) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :person_id %><br />
    <%= f.collection_select :person_id, Person.find(:all, :order => :login), :id, :login %>
  </p>
  <p>
    <%= f.label :lanparty_id %><br />
    <%= f.collection_select :lanparty_id, Lanparty.find(:all, :order => :title), :id, :title %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', participants_path %>
